argcomplete
pywavelets
sounddevice
soundfile
matplotlib
scipy
# spectrum
numpy
psutil
# opencv-python
pygame
pygame_widgets
# setuptools
# PyQt5
# jupyterlab
# ipywidgets
# If the widgets are not shown: jupyter labextension install @jupyter-widgets/jupyterlab-manager
